@import url('https://fonts.googleapis.com/css2?family=Judson&family=Lato:wght@300&display=swap');


$yellow: #E8EB5E;
$grey: #EDF2EF;
$coral: #F97068;

$headingFont: 'Judson', serif;
$bodyFont:'Lato', sans-serif;