@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quattrocento&display=swap');


$yellow: #E8EB5E;
$grey: #EDF2EF;
$coral: #F97068;

$headingFont: 'Poppins', sans-serif;
$bodyFont:'Quattrocento', serif;