@import 'setupSnippet';
@import 'variables';
@import 'mixins';

//GENERAL STYLES START----------------------------

html {
  font-size: 62.5%;
}

* {
  border: solid 1px goldenrod;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

body {
  background-color: $peachBackground;
}

img {
  width: 100%;
}

h1,
label,
.poppins{
  font-family: $headingFont;
}

p,
form,
::placeholder{
  font-family: $bodyFont;
}

h1{
  font-size: 6rem;
}

form,
.poppins,
.statsContainer{
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

label,
.headerText,
.poppins,
.statsBox,
.podcastCard p{
  text-align: left;
}

//GENERAL STYLES END----------------------------

//HEADER STYLES START----------------------------
header {
  background-color: $seaFoam;
  height: 100vh;
  position: relative;
}

.allButChev {
  display: flex;
  padding: 50px;
}

.headerText {
  @include flexColumn;
  padding-left: 10%;
  width: 60%;
  justify-content: center;
}

.headerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.chevronDown {
  fill: $pink;
  margin: auto;
  width: 5em;
  height: 5em;
  animation: hover-me 0.5s infinite ease-in-out alternate;
  position: absolute;
  bottom: 60px;
}

@keyframes hover-me {
  100% {
    transform: translate3d(0, 25px, 0);
  }
}

// General Fonts
h1,
p {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
}

h1 {
  padding: 5px;
  margin-bottom: 48px;
}

// Inputs


label {
  width: 30%;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

input {
  padding: 5px;
  border-style: none;
}

label {
  @include flexColumn;
  justify-content: flex-end;
  width: 30%;
}

select {
  padding: 5px;
  border-style: none;
}

button {
  width: 25%;
  margin: 2rem;
  background-color: #e1ede6;
  color: black;
  border-radius: 29px;
  padding: 10px;
  border: 3px solid #ed6389;
}

// Stats

.distanceBox {
  padding-top: 50px;
}

.travelTime {
  background-color: white;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.timeBoxes {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statsBox {
  width: 100%;
}

.walkingGirl {
  width: 55%;
}
// Podcast
.podcastParent {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}

.podcastCard {
  display: flex;
  margin: 2rem;
  width: 40%;
  max-width: 300px;
  background-color: #e1ede6;
}

.podcastStats {
  width: 100%;
  border: 1px solid black;
}

.podcastImage {
  padding-bottom: 10px;
}

.podcastCard p {
  width: 80%;
  margin: 0 auto;
  // margin: 5px 0;
  padding-bottom: 5px;
}

//FOOTER START
footer {
  // height: 10vh;
  background-color: $seaFoam;
}
a:visited {
  color: $pink;
}

a {
  text-decoration: none;
  color: black;
}
footer p {
  padding: 3rem 0;
}

@media only screen and (max-width: 1200px) {
  header {
    height: 90vh;
  }

  .allButChev {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 1081px) {
  h1 {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 1440px) {
  h1 {
    font-size: 5.3rem;
  }
  header {
    height: 90vh;
  }
}

@media only screen and (max-width: 957px) {
  h1 {
    font-size: 5.2rem;
  }
}

@media only screen and (max-width: 939px) {
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 904px) {
  h1 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 869px) {
  h1 {
    font-size: 4.6rem;
  }
}

@media only screen and (max-width: 833px) {
  h1 {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 798px) {
  header {
    height: 65vh;
  }

  h1 {
    font-size: 4.2rem;
  }
  .poppins,
  label,
  button {
    font-size: 2.4rem;
  }
  button {
    padding: 8px;
  }
  .chevronDown {
    display: none;
  }
}

@media only screen and (max-width: 763px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 727px) {
  h1 {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 692px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .inputBox {
    flex-direction: column;
    align-items: center;
  }
  label {
    width: 50%;
    margin: 1rem;
  }
}
