@import 'setupSnippet';
@import 'variables';

html {
  font-size: 62.5%;
}

* {
  border: solid 1px goldenrod;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

p {
  color: black;
  font-size: 2rem;
  font-family: $bodyFont;
}

// Stats
.statsContainer {
  display: flex;
  text-align: left;
  justify-content: space-around;
  font-size: 2rem;
}

// Podcast
.podcastParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.podcastCard {
  border: 1px solid pink;
  border-radius: 40px;
  width: 45%;
  margin: 15px;
  padding: 15px 0;
  line-height: 1.5;
}

.podcastCard img {
  padding-bottom: 10px;
}

.podcastCard p {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  // margin: 5px 0;
  padding-bottom: 5px;
}
