@import 'setupSnippet';
@import 'variables';

html {
  font-size: 62.5%;
}

* {
  border: solid 1px goldenrod;
}

body {
  background: rgb(249, 112, 104);
  background: linear-gradient(
    180deg,
    rgba(249, 112, 104, 1) 0%,
    rgba(237, 242, 239, 1) 20%
  );
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

// General Fonts
h1,
h2,
h3,
p {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
}

h1 {
  font-size: 7rem;
  font-family: $headingFont;
}

h2 {
  font-family: $bodyFont;
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-family: $bodyFont;
}

p {
  color: black;
  font-size: 2rem;
  font-family: $bodyFont;
}
// Inputs

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: $bodyFont;
}

label {
  width: 100%;
  margin: 2rem;
}

::placeholder {
  font-family: $bodyFont;
}

.inputBox {
  display: flex;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  width: 20%;
  margin: 2rem;
}

// Stats
.statsContainer {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.statsBox {
  width: 200px;
  text-align: left;
}

// Podcast
.podcastParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.podcastCard {
  border: 1px solid pink;
  border-radius: 40px;
  width: 45%;
  margin: 15px;
  padding: 15px 0;
  // line-height: 1.5;
}

.podcastCard img {
  padding-bottom: 10px;
}

.podcastCard p {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  // margin: 5px 0;
  padding-bottom: 5px;
}

//FOOTER START
a:visited {
  color: pink;
}

a {
  text-decoration: none;
  color: black;
}
